
.container {
	width: 80%;
	margin: 0 auto;
}

.nav {
	font-family: 'Lato', sans-serif;
	background-color: pink;
	padding: 15px 0;
	width: 100%;
	text-align: center;
}

.nav a {
	font-size: 1rem;
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 0 20px;
	transition: color .1s;
}

 .nav a:hover {
	color: maroon;
}

header {
	background:black;
	height: 575px;
	background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ),url('../imgs/bgimg.jpg'); 
	background-position: center;
	background-repeat: cover;
}

h1 {
	font-family: 'Bree Serif', serif;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	text-transform: uppercase;
    color: #FFFCFC;
    font-weight: 50;
    font-size: 3.5rem;
    padding-top: 130px;
}

/* ===== Beginning of Our Story Styles =====*/

.flex-container {
	margin: 75px 0;
	display: flex;
	justify-content: space-between;
}


.flex1 {
	width: 500px;
	height: 500px;
	max-width: 100%;
	background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('../imgs/interior.jpeg'); 
	background-position: center;
	background-repeat:  cover;
	flex-basis: 50%;
}


.flex2 {
	flex-basis: 50%;
	margin-left: 40px;
}

.flex2 h2 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: brown;
	margin-top: -4px;
	font-size: 1.3rem;
	line-height: 1.8;

}

.flex2 p {
	margin-top: -4px;
	font-family: 'Open Sans', sans-serif;
	color: grey;
	font-weight: 300;
	font-size: .85rem;
	line-height: 1.8;
}

.underline {
	width: 25%;
	padding-top: 45px;
	border-bottom: 2px brown solid;
}

/*=== End of Our Story Styles====*/

/*=== Beginning Trending Menu Styles====*/

#menu-slider {
	padding: 20px 0;
	background: #ebebeb;
}

.seasonal-title {
	font-family: 'Bree Serif', serif;
	font-size: 2rem;
	text-align: center;
}

.trending-title {
	font-family: 'Open Sans', sans-serif;
	color: orange;
	padding-bottom: 20px;
	margin-top: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: .8rem;
	letter-spacing: 5px;
}

.left, .middle, .right {
	width: 33.33%;
	margin-bottom: 50px;
	float: left;
}


.box {
	background: #fff;
	padding: 20px;
	margin-left: 20px;
}

 .box-link{
	font-family: 'Lato', sans-serif;
	color: black;
	text-decoration: underline;
	text-align: center;
	display: block;

}

.boxes {
	padding-bottom: 50px;
}

.box-image1, .box-image2, .box-image3 {
	position: relative;
	width: 100%;
	height: 220px;
	margin-bottom: 50px;

}

.box-image1 {
	background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('../imgs/coffee.jpeg'); 
	background-position: center;
	background-repeat:  cover;
}

.box-image2 {
	background-image: linear-gradient( rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) ),url('../imgs/seeds.jpeg'); 
	background-position: center;
	background-repeat: cover;
}


.box-image3 {
	background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('../imgs/brownie.jpeg'); 
	background-position: center;
	background-repeat:  cover;
}

.overlay {
	font-family: 'Lato', sans-serif;
	color: white;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	font-size: 1rem;
	background: rgba(139,131,134,0.41);
	height: 70px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	display: block;
	font-size: .9rem;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
}

.details {
	margin: 0;
	padding-bottom: 10px;
	line-height: 2;
	font-size: .8rem;
	font-weight: 300;
	text-align: center;
}

/*=== End of Trending Menu Styles===*/


/*=== Beginning of Main Menu Styles===*/
#main-menu{
	text-align: center;
}

#main-menu ul {
	list-style-type: none;
}

#main-menu h2 {
	font-family: 'Bree Serif', serif;
	color: #505050;
	margin-top: 50px;
	font-size: 2rem;
	text-align: center;
}

.grid {
	margin: 0 auto;
	text-align: center;
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.col-title {
	font-family: 'Lato', sans-serif;
	color: brown;
	padding: 20px 0 0 0;
	text-transform: uppercase;
	font-weight: 300;
	font-size: .9rem;
}

.food {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	color: black;
	font-size: .8em;
	letter-spacing: .1rem;
	font-weight: 300;
	line-height: 2;
}


/*=== End of Main Menu Styles===*/

